/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.vboxgreen{
    -fx-background-image: url("otp.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center, center;
    -fx-background-size: 625, 390;
}
